<ion-view>
<ion-header-bar title="'ILS Test Base'" left-buttons="leftButtons" type="bar-assertive"></ion-header-bar>
 
    <ion-content class="body_view" has-header="true" >
    
      <!-- The content of the page -->
      <div class="card positive">
  <div class="item item-body">
  <img src="img/brain.png" class="brainimg">
    Test base demo. This app is an examination objective base sample.
    <div class="app_home_btn">
    <button class="button button-block button-energized" ng-click="newGame()">
      New Game
    </button>
    <button class="button button-block button-positive">
      Top Scores
    </button>
    </div>
  </div>
</div>

    </ion-content>
  </ion-view>
